body{
    padding: 0;
    margin: 0;
    font-family: Microsoft Yi Baiti;
}



.aboutsection{

    background-color: rgb(168, 160, 160);

 } 


.section1{
    background-image: url(t2.jpg);
    background-size: cover;
    background-position: center;
    animation: section1 10s infinite;

}
@keyframes section1{

    0%{
        
        background-image:url(2.jpg);
     } 
     25%{
        background-image: url(2.jpg);
    }
    50%{
        background-image: url(3.jpg);
    }
}






.aboutheader{
    width: 1300px;
    margin: auto;
}
.aboutlogo h2{
    float: left;
    font-size: 35px;
    color: white;
    height: auto;
     margin-top: 20px; 
    font-family: MV boli;
}
.aboutlistitems{
    float: right;
    height: auto;
    margin-top: 20px;
    padding-top: 15px;
    text-align: center;
    margin-right: 25px;
   
}
.aboutlistitems li{
    display: inline-block;
    font-size: 20px;
    padding: 5px;
       
}
.aboutlistitems li a{
    border: 1px solid transparent;
    padding: 8px 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}
.aboutlistitems li a:hover{
    background-color: rgba(159, 218, 193, 0.267);
    color: aliceblue;
    cursor: pointer;
}
.section1 div{
 width: 45%;
 display: inline-block;
 box-sizing: border-box;
}

.aboutsection1{
    margin-top: 150px;
    padding: 6rem 0;
     margin-left: 35px;  
}
.aboutsection1 h3{
font-size: 40px;
color: white;

}
.aboutsection1 b{
    font-size: 50px;
    font-weight: 1000;
         }
.para1{
    color: white;
    line-height: 22px;
    font-size: medium;
}
.button1{
    background-color: Teal;
      	padding: 10px 20px;
	    margin: 10px;
	    cursor:pointer;
	    border: none;
	    border-radius: 8px;
}
.button1:hover{
    background-color:#FFE4E1;
}
.button2{
    background-color: whitesmoke;
      	padding: 10px 20px;
	    margin: 10px;
	    cursor:pointer;
	    border: none;
	    border-radius: 8px;
}
.button2:hover{
    background-color: aqua;
}


.section2{
    float: right;
    border: 2px solid transparent;
    overflow: hidden;
    padding: 20px;
    margin-top: 100px;
    /* margin-top: -410px; */

}
.section2 h1{
    color: #000;
     text-align: center; 
}
/* .section2 hr{
    width: 100px;
    transform:translateX(-240px);
} */

.section2 fieldset{
    width: 300px;
    background-color:azure;
    border-radius: 10px;
}
.loginform{
    margin: 10px;
    padding: 10px;
}

.section2 p{
    font-size: 18px;
    margin: 15px 0;
}
.section2 input{
    font-size: 16px;
    padding: 4px;
}
.btn1{
    padding: 5px;
    margin: 5px;
    margin-top: 20px;
    width: 25%;
    background-color: rgb(214, 143, 12);
    cursor: pointer;
    border-radius: 15px;
}

.section3{
    padding: 40px 0;

}
.section3 h1{
    text-align: center;
    font-size: 45px;
}
.section3 hr{
    width: 150px;
}
.content1 img{
    width: 200px;
    height: 200px;
}
.content1 div{
    display: inline-block;
    width: 30%;
    padding: 10px;
    padding-top: 20px;
     margin: 8px; 
    padding-left: 80px;
    
    

}


.content1 h3{
    font-size: 25px;
    font-weight:bold;
}
.content1 p{
    font-size: 18px;
}

.aboutfooter{
    /* padding: 50px 0; */
    height: 20vh;
    background-color:rgba(0, 91, 143) ;

}

.aboutfooter  i {
   transform: translateX(300px);
    padding: 20px;
    margin: 10px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}
.aboutfooter i a:hover{
    color: #fff;
}
.text{
    background-color:rgba(0, 91, 143) ;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    color: white;
}


/*  

slider is the name class="slider";

.slider{
    background-image: ;
    background-size: cover;
    background-position: center;
    animation: slider 10s infinite;
}
@keyframes slider{

    0%{
        background-color: #000;
        background-image: ;
    }
    25%{
        background-color: #000;
        background-image: ;
    }
    50%{
        background-color: #000;
        background-image: ;
    }
   100%{
        background-color: #000;
        background-image: ;
    }
}
*/